<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="utf-8">

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Site Metas -->
        <title>Sistema de Cotação - 404</title>
        <meta name="description" content="Ajuda do sistema de cotação"/>
        <meta name="keywords" content="Rafael de Oliveira Silva, PUC, Cotação de ativos na bolsa de Valores"/>

        <!-- Site Icons -->
        <link rel="icon" href="/img/favicon.png">
        
         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>

        <!-- Site CSS -->
        <link rel="stylesheet" href="/css/style.css"/>

    </head>
    <body>
        
        <div class="main-content">
            {{> header}}
            
            <section>
                 <p class="msg-404">{{errorMessage}}</p>
                 <figure class="figure-404">
                    <img src="/img/404.png" alt="Imagem 404" title="404 Error"/>
                </figure>
            </section>
        </div>

        {{> footer}}

        <!-- ALL JS FILES -->
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>