<header>    
    <h1>{{title}}</h1>
    <nav>
        <a class="menu" href="/">Home</a>
        <a class="menu" href="/about">About</a>
        <a class="menu" href="/help">Help</a>   
    </nav>
</header>