body{
    color: #333333;
    font-family: Calibri, sans-serif;
    font-size: 12pt;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    background-color: #222224;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    margin-top: 48px;
    margin-bottom: 16px;

}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

input {
    border: 1px solid #cccccc;
    padding: 8;
}

h1 {
    font-weight: bold;
    font-size: 350%;
}

blockquote {
    font-family: fantasy;
    font-style: italic;
    color: dimgray;
}

a {
    color: deepskyblue;
    text-decoration: none;
}

.menu:hover {
    background-color: honeydew;
}

p {
    text-align: justify;
    line-height: 1.5;
    text-indent: 2em;
}

.msg-404{
    text-align: justify;
    font-size: 18pt;
    font-weight: bold; 
}

nav ul {
    padding-left: 0;
}

nav li {
    display: inline-block;
}

nav a {
    display: inline-block;
    padding: 5px 4em;
    background-color: #062f4f;
    border-radius: 5em;
}

figure img {
    width: 250px;
}

figure {
    width: 250px;
    margin-left: 0;
}

.figure-404 {
    float: left;
    margin-left: 11em;
    margin-right: 0;
    width: 250px;
}

figcaption {
    text-align: center;
}


#status {
    margin-bottom: 2em;
    border: 2px dimgray solid;
    border-collapse: collapse;
}

#status td,
#status th {
    border: 2px dimgray solid;
}

#status tfoot tr {
    border: none;
}

#contato label {
    vertical-align: top;
    display: inline-block;
    width: 6em;
}

label{
    float: top;
    width: 10em;
}
